.container {
    background-color: rgb(194, 133, 105);
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 10 px #f3f1f1;
    color: white;
    width: 300px;
    height: auto;

    &:hover {
        box-shadow: 0 0 0.5rem #ff4fe8, 0 0 0.5rem #ff4fe8,
            0 0 5rem #ff4fe8;
        transition: 2s;
        cursor: pointer;
        background-color: black;
    }
}